:root {
  --navLeft-bg-color: #333;
  --navLeft-link-color: #fff;
  --navLeft-link-hover-color: #007bff;
  --navLeft-tooltip-bg-color: #007bff;
  --scrollbar-bg-color: #999;
  --scrollbar-thumb-color: #666;
}

.navLeft {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: var(--navLeft-bg-color);
  overflow-y: scroll;
  padding: 10px 0;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  z-index: 1000;
}

.navLeft a {
  position: relative;
}

.navLeft a::after {
  content: attr(data-title);
  position: absolute;
  white-space: nowrap;
  background-color: var(--nav-tooltip-bg-color);
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  transition: opacity 0.3s;
}

.navLeft a:hover::after {
  opacity: 1;
}