.btn-custom {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    font-size: 18px;
  }
  .btn-green {
    background-color: rgb(199, 97, 165);
    color: white;
  }
  .btn-blue {
    background-color: blue;
    color: white;
  }
  .btn-red {
    background-color: red;
    color: white;
  }
  .btn-yellow {
    background-color: yellow;
    color: black;
  }

  .jumbotron {
	background-color: #a76622;
}

.search-box {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #Dropdown {
    margin-top: 20px;
    max-width: 300px;
  }

  body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #9b5151;
  background-color: #bbe45b;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #3a9292;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #774d4d;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #b1a751;
  border-top: none;
}