.btn-custom {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    font-size: 18px;
  }
  .btn-green {
    background-color: rgb(199, 97, 165);
    color: white;
  }
  .btn-blue {
    background-color: blue;
    color: white;
  }
  .btn-red {
    background-color: red;
    color: white;
  }
  .btn-yellow {
    background-color: yellow;
    color: black;
  }